/* Reset dasar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  color: #333;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background-color: #247ba0;
  color: white;
  padding: 15px 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #eee;
  font-size: 0.9rem;
  margin-top: 40px;
}
